/**
 * 游 UI Animations - Pouze z치kladn칤 funk캜n칤 animace
 * 
 * V코echny dekorativn칤 animace odstran캩ny kv콢li ru코iv칠mu efektu
 */

/* VECHNY ANIMACE DO캛ASN캨 ODSTRAN캨NY */
/* Pouze zachov치ny pro budouc칤 pou쬴t칤, pokud budou pot콏eba */
